<div class="center">
  <mat-card>
    <mat-card-content>
      <div class="text-center">
        <mat-form-field class="w-50">
          <mat-label>Date List</mat-label>
          <textarea
            matInput
            value="{{ dateList.join(',') }}"
            (keydown)="preventEditAndDelete($event)"
          >
          </textarea>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>

  <div>
    <mat-form-field class="hidden">
      <input
        matInput
        [matDatepickerFilter]="myFilter"
        [matDatepicker]="picker"
        (dateInput)="addEvent('input', $event)"
      />
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div>
    <button
      *ngIf="isButton"
      mat-raised-button
      color="primary"
      (click)="picker.open()"
    >
      Add
    </button>
    <button
      *ngIf="!isButton"
      mat-raised-button
      color="primary"
      (click)="saveDate()"
    >
      Save
    </button>
  </div>
</div>
